table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
    }

    table {
      margin-top: 20px;
      background-color: #00ff3c; 
    }

    .uj-sor {
    background-color: #b2f2bb;
    }

    .div {
      margin-bottom: 10px;
    }